.mobnav {
  padding: 10px;
  color: black;
  text-transform: uppercase;
}

.mobnav:hover {
  color: gray;
}

.mobilemenu {
  
}
@media (min-width: 768px) {
  .mobilemenu {
    justify-content: space-between;
    display: none;;
  }
}
