body {
    text-align: center;
    color: blue;
    text-shadow: 1px 1px 5px white;
    
}
td {
    width: 150px;
}

.center {
    width: 500px;
    margin: auto;
    background: url(sk.jpg) center;
    background-size: contain;
    background-repeat: no-repeat;

}
.center2 {
    width: 500px;
    margin: auto;
}
table {
    border: 1px solid blue;
    background-color: ivory;
}
