.slide2 {
  margin-top: 20px;
  overflow: hidden;
  min-height: 500px;
  background-color: #e7e7e7;
  justify-content: space-between;
  }
.info {
  margin: 20px;
  height: 200px;
  border: 1px solid gray;
  background: white;
  width: 280px;
}

.img1 {
  position: relative;
  top: 0px;

  height: 350px;
  width: 350px;
  border-radius: 175px;
  background-image: url(./../../../../img/notebook.jpg);
  background-size: cover;
}