.slide2 {
  margin-top: 20px;
  overflow: hidden;
  
  background-color: #e7e7e7;
 
  }
.info {
  margin: 20px;
  height: 200px;
  border: 1px solid gray;
  background: white;
  width: 280px;
}

/* для шиширы экрана 1200 и более */
@media (min-width: 1200px) {
  .slide2 {
    display: inline;
    
  }
  
  .info {
    
    margin: 20px auto;
    text-align: left;
  }
}
