.slide {
  margin: 20px auto;
  overflow: hidden;
}
.head {
  background: white;
  text-align: center;
  padding: 10px;
}
.info {
  margin-top: 20px;

  background: white;
  text-align: center;
}
.pic {
  margin: 20px;
}
.img {
  height: 100px;
}
.exam {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  width: 300px;
  background-color: #e7e7e7;
}
p {
  text-align: center;
}
h4 {
  background-color: #e7e7e7;
}
/* для шиширы экрана 768 и более */
@media (min-width: 768px) {
  .img {
    height: 200px;
  }
}
/* для шиширы экрана 1200 и более */
@media (min-width: 1200px) {
  .slide {
    margin: 20px auto;
  }

  .info {
    margin: 20px auto;
    text-align: center;
  }
}
.pic {
  margin: 20px;
  display: inline-block;
  justify-content: space-between;
  opacity: 25%;
  background-color: #e7e7e7;
}
.img {
  height: 250px;
}
