.slide1 {
  overflow: auto;
  text-align: center;
  background-color: #e7e7e7;
  display: flex;
  flex-direction: column-reverse;
}

.text {
  text-align: center;
  border: 1px solid gray;
  padding: 0px 20px;
}
.txt1 {
  font-size: 24px;
}
.txt2 {
  font-size: 16px;
}
.button {
  margin-bottom: 10px;
}
.image {
  display: block;
  overflow: hidden;
  
}
.img1 {
  margin-top: 0px;
  
  width: 100%;
  background-image: url(./../../../../img/img1.png);
  background-size: cover;
}

/* для шиширы экрана 768 и более */
@media (min-width: 768px) {
  .slide1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .img1 {
    float: right;
    margin-right: 0px;
    width: 100%;
  }
  .txt1 {
    font-size: 28px;
  }
  .text {
    margin: auto;
    
    text-align: left;
  }
}

/* для шиширы экрана 1200 и более */
@media (min-width: 1200px) {
  .slide1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .img1 {
    float: right;
    margin-right: 0px;
    width: 100%;
  }
  .txt1 {
    font-size: 32px;
  }
  .text {
    
float: left;
    text-align: left;
  }
}
