.hdr {
  height: 60px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .hdr {
    justify-content: space-between;
    
  }
}
