.menu {
  padding-right: 10px;
}
.nav {
  padding: 10px;
  color: black;
  text-transform: uppercase;
  display: none;
}

.nav:hover {
  color: gray;
}
.menuicon {
  display: block;
  height: 45px;
}
.close {
  display: none;
  height: 45px;
}
.mobmenu {
  position: absolute;
  top: 60px;
  left: 0px;
  height: 300px;
  width: 100%;
  z-index: 100;
  display: none;
}
/* для шиширы экрана 768 и более */

@media (min-width: 768px) {
  .menuicon {
    display: none;
  }
  .nav {
    display: inline;
  }
  .close {
    display: none;
  }
}

